<!doctype html>
<html ng-app="LunchCheck">
  <head>
    <title>Lunch Checker</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="styles/bootstrap.min.css">
    <script src="Scripts/angular.min.js">
    </script>
      <script src="Scripts/app.js"></script>
    <style>
      .message { font-size: 1.3em; font-weight: bold; }
      .message-green{color:green}
      .message-red{color:red}
      .lunch-menu-green{border-color:green;}
      .lunch-menu-red{border-color:red}
    </style>
  </head>
<body>
   <div class="container" ng-controller="LunchCheckController">
     <h1>Lunch Checker</h1>

         <div class="form-group">
           <!--I do NOT consider empty items-->
             <label for="lunch-menu">NOT considering empty items</label>
             <input id="lunch-menu" type="text" ng-model="lunchmenu"
             placeholder="list comma separated dishes you usually have for lunch"
             class="form-control lunch-menu-{{selectedcss}}"> 
         </div>
         <div class="form-group">
             <button class="btn btn-default" ng-click="CheckIfTooMuch()">Check If Too Much</button>
         </div>
         <div class="form-group message">
       <div id="message"  class="message-{{selectedcss}}">{{message}}</div> 
         </div>
   </div>

</body>
</html>
